<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employees</title>
</head>
<body>
<a th:href="@{/create-employee}">Create new employee</a>
<h1>List Employees</h1>
<form>
    Search employee:
    <input name="name" type="text"/>
</form><br/>
<table border="1">
    <tr>
        <th>Mã nhân viên</th>
        <th>Nhóm nhân viên</th>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Số điện thoại</th>
        <th>Chức năng</th>
    </tr>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.groupEmployee.name}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.genre}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td>
                <a th:href="@{/edit-employee/__${employee.id}__ }">Sửa</a>
                <a th:href="@{/delete-employee/__${employee.id}__ }">Xóa</a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>